<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Thymeleaf Fragments</title>
</head>

<body>

<div th:fragment="nav-bar">

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Excel Parsing Web App</a>
            <div id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="bg-success"><br></section>
</div>

<section class="bg-success" th:fragment="footer">
    <div class="text-center p-2 bg-success text-light">
        @2021 Copyright: G Dogra (gaurav.dogra.fullstack@gmail.com)
    </div>
</section>

</body>

</html>