<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Excel Parsing Web App</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="heading">Select Shift information for each officer</div>
<form action="#" th:action="@{/download}" th:object="${dtoWrapper}" method="post">

    <fieldset th:each="dto, iterStat : *{userInputDtoList}">
        <legend><span th:text="|${dto.firstName} ${dto.lastName}|"/></legend>
        <input type="hidden" th:field="*{userInputDtoList[__${iterStat.index}__].firstName}"
               th:value="${dto.firstName}">
        <input type="hidden" th:field="*{userInputDtoList[__${iterStat.index}__].lastName}"
               th:value="${dto.lastName}">
        <div>
            <label>
                <input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="0" checked/>
                Ignore
            </label>
        </div>

        <div>
            <label>
                <input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="1"/>
                MG Day
            </label>
        </div>

        <div>
            <label>
                <input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="2">
                MG Night
            </label>
        </div>

        <div>
            <label>
                <input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="3">
                EP WB Day
            </label>
        </div>

        <div>
            <label>
                <input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="4">
                EP WB Night
            </label>
        </div>

        <div>
            <label>
                <input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="5">
                Visitors Reception
            </label>
        </div>

        <div>
            <label>
                <input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="6">
                Plaistow Day
            </label>
        </div>

        <div>
            <label>
                <input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="7">
                Plaistow Night
            </label>
        </div>

    </fieldset>
    <br><br>
    <input type="submit" value="Download Report"/>
</form>
<br>
<form action="#" th:action="@{/restart}" method="get">
    <input type="submit" value="Go to Home"/>
</form>

</body>
</html>