<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel Parsing Web App</title>
    <link th:href="@{main.css}" rel="stylesheet"/>
</head>
<body>
<div th:text="${msg}"></div><br><br>
<div class="heading">Select Shift information for each officer</div>
<form action="#" th:action="@{/download}" th:object="${dtoWrapper}" method="post">
    <table class="center">
        <caption>Below Officers are from the uploaded file</caption>
        <tr>
            <th scope="col">Officer Name</th>
            <th scope="col">Ignore</th>
            <th scope="col">MG Day</th>
            <th scope="col">MG Night</th>
            <th scope="col">Ep Wb Day</th>
            <th scope="col">Ep Wb Night</th>
            <th scope="col">Visitor Recep</th>
            <th scope="col">Plaistow Day</th>
            <th scope="col">Plaistow Night</th>
        </tr>

            <tr th:each="shiftDto, iterStat : *{shifts}">
                <td><span th:text="${shiftDto.fullName}"></span></td>
                <input type="hidden" th:field="*{shifts[__${iterStat.index}__].fullName}" th:value="${shiftDto.fullName}">
                <td><input type="radio" th:field="*{shifts[__${iterStat.index}__].shiftCode}" th:id="'ignore_' + ${iterStat.count}" th:name="${shiftDto.fullName}" th:value="0" checked></td>
                <td><input type="radio" th:field="*{shifts[__${iterStat.index}__].shiftCode}" th:id="'mgDay' + ${iterStat.count}" th:name="${shiftDto.fullName}" th:value="1"></td>
                <td><input type="radio" th:field="*{shifts[__${iterStat.index}__].shiftCode}" th:id="'mgNight' + ${iterStat.count}" th:name="${shiftDto.fullName}" th:value="2"></td>
                <td><input type="radio" th:field="*{shifts[__${iterStat.index}__].shiftCode}" th:id="'epWbDay' + ${iterStat.count}" th:name="${shiftDto.fullName}" th:value="3"></td>
                <td><input type="radio" th:field="*{shifts[__${iterStat.index}__].shiftCode}" th:id="'epWbNight' + ${iterStat.count}" th:name="${shiftDto.fullName}" th:value="4"></td>
                <td><input type="radio" th:field="*{shifts[__${iterStat.index}__].shiftCode}" th:id="'visRecep' + ${iterStat.count}" th:name="${shiftDto.fullName}" th:value="5"></td>
                <td><input type="radio" th:field="*{shifts[__${iterStat.index}__].shiftCode}" th:id="'plDay' + ${iterStat.count}" th:name="${shiftDto.fullName}" th:value="6"></td>
                <td><input type="radio" th:field="*{shifts[__${iterStat.index}__].shiftCode}" th:id="'plNight' + ${iterStat.count}" th:name="${shiftDto.fullName}" th:value="7"></td>
            </tr>
    </table>
    <br><br>
    <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>

</form>
</body>
</html>