<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel Parsing Web App</title>
    <link th:href="@{main.css}" rel="stylesheet"/>
</head>
<body>
<div th:text="${msg}"></div>
<br><br>
<div class="heading">Select Shift information for each officer</div>
<form action="#" th:action="@{/download}" th:object="${dtoWrapper}" method="post">
    <table class="center">
        <caption>Below Officers are from the uploaded file</caption>
        <tr>
            <th scope="col">Officer Name</th>
            <th scope="col">Ignore</th>
            <th scope="col">MG Day</th>
            <th scope="col">MG Night</th>
            <th scope="col">Ep Wb Day</th>
            <th scope="col">Ep Wb Night</th>
            <th scope="col">Visitor Recep</th>
            <th scope="col">Plaistow Day</th>
            <th scope="col">Plaistow Night</th>
        </tr>

        <tr th:each="dto, iterStat : *{userInputDtoList}">
            <td><span th:text="|${dto.firstName} ${dto.lastName}|"></span></td>
            <input type="hidden" th:field="*{userInputDtoList[__${iterStat.index}__].firstName}"
                   th:value="${dto.firstName}">
            <input type="hidden" th:field="*{userInputDtoList[__${iterStat.index}__].lastName}"
                   th:value="${dto.lastName}">
            <td><input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="0" checked></td>
            <td><input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="1"></td>
            <td><input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="2"></td>
            <td><input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="3"></td>
            <td><input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="4"></td>
            <td><input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="5"></td>
            <td><input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="6"></td>
            <td><input type="radio" th:field="*{userInputDtoList[__${iterStat.index}__].shiftCode}"
                       th:name="|${dto.firstName} ${dto.lastName}|" th:value="7"></td>
        </tr>
    </table>
    <br><br>
    <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>

</form>
</body>
</html>