<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel Parsing Web App</title>
</head>
<body>
<div align="center">
    <span th:text="${msg}"></span>
    <h2>Enter shift information</h2>

    <form action="#" th:action="@{/download}" th:object="${shiftsWrapper}" method="post">
        <fieldset>
            <li th:each="shift : ${shiftsWrapper.getShifts()}">
                <div th:with="officer=${shift.getOfficer()}">
                    <p>
                        <span th:text="${officer}">Default</span>>
                    </p>
                    <fieldset>
                        <div>
                            <input type="radio" name=<span th:text="${officer}"> id="ignore" value="0" checked>
                            <label for="ignore">Ignore</label>
                            <input type="radio" name=<span th:text="${officer}">Default</span> id="mainGateDay" value="1">
                            <label for="mainGateDay">MG Day</label>
                            <input type="radio" name=<span th:text="${officer}">Default</span> id="mainGateNight" value="2">
                            <label for="mainGateNight">MG Night</label>
                            <input type="radio" name=<span th:text="${officer}">Default</span> id="epWbDay" value="3">
                            <label for="epWbDay">EP WB Day</label>
                            <input type="radio" name=<span th:text="${officer}">Default</span> id="epWbNight" value="4">
                            <label for="epWbNight">EP WB Night</label>
                        </div>

                        <div>
                            <input type="radio" name=<span th:text="${officer}">Default</span> id="plaistowDay" value="5">
                            <label for="plaistowDay">Plaistow Day</label>
                            <input type="radio" name=<span th:text="${officer}">Default</span> id="plaistowNight" value="6">
                            <label for="plaistowNight">Plaistow Night</label>
                            <input type="radio" name=<span th:text="${officer}">Default</span> id="visRecep" value="7">
                            <label for="visRecep">Visitors Reception</label>
                        </div>
                    </fieldset>
                </div>
            </li><br>
            <input type="submit" id="submitButton" th:value="Submit">
            <input type="reset" id="resetButton" th:value="Reset"/>
        </fieldset>

    </form>

</div>

</body>
</html>