name: maven Build

on:

  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  
  build:
    
    runs-on: ubuntu-latest


    steps:
   #   - name: Step 1 - download the copy on the runner
      - uses: actions/checkout@v2

      - name: Step 2 - Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          
      - name: Step 3 - Build with Maven
        run: mvn --batch-mode --update-snapshots-verify
